* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #011627;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: flex-end;
    background-color: #011627;
    align-items: center;
    padding: 15px 10%;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fdfffc;
    text-decoration: none;
}

h1{
    cursor: pointer;
    margin-right: auto;
    color: #fdfffc;
}

.marvel-text{
    font-weight: 200;
}

#h1-span{
    font-weight: 800;
    color: #e71d36;
}

.mobile-nav-links{
    display: none;
}

.nav-links{
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #25ced1;
}

#git-button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(33, 177, 179);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#git-button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

#page-display{
    display: flex;
    flex-direction: column;
    position: relative;
}

#question-number{
    color: #ff9f1c;
    margin: 1rem auto;
    font-size: 1.5rem;
}

#image{
    border: 2px solid black;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 15px 0px black;
}

#image-container{
    margin: 0 auto;
}

#the-question{
    color: #25ced1;
    text-align: center;
    font-size: 2rem;
    margin: 1rem auto;
}

#buttons-container-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#buttons-container-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#trivia-option-buttons{
    color: black;
}

.button{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    white-space:normal;
    height: 5rem;
    width: 20rem;
    /* min-width: 100px; */
    border: none;
    border-radius: 4px;
    background-color: #ff9f1c;
    margin: 8px 8px;
    box-shadow: 3px 3px 10px black;
    cursor: pointer;
}

.button:hover{
    background-color: #e71d36;
}

        /* TRIVIA MODAL */
#trivia-modal-container{
    display: none;
    width: 100vw;
    height: 92vh;
    background-color: rgb(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    /* pointer-events: none; */
    z-index: 1;
}

#trivia-modal{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
    width: 30rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #011627;
    box-shadow: 0 0 200px 25px white;
    flex-wrap: wrap;
}

#trivia-modal-top{
    font-size: 2.5rem;
    color: #e71d36;
}

#trivia-modal-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bottom-modal-text{
    margin: 20px 0;
    font-size: 1.5rem;
    text-align: center;
}

.modal-button{
    background-color: rgb(33, 177, 179);
    border: none;
    border-radius: 4px;
    color: white;
    margin: 5px 1rem;
    height: 2rem;
    width: 8rem;
    cursor: pointer;
}

.modal-button:hover{
    color: white;
    background-color: rgba(0, 136, 169, 0.8)
}

/* game library page */
/* Heavy inspiration from Kevin Powels Cards on youtube */

#random-game-button{
    color: black;
    width: 8rem;
    height: 2rem;
}

#game-card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.6;
    background-color: #011627;
    height: 70vh;
}

#trivia-card-1{
    background-image: url("https://i.etsystatic.com/10791463/r/il/a11b08/1321062493/il_fullxfull.1321062493_izrb.jpg");
    background-size: cover;
}

#trivia-card-3{
    background-image: url("https://i.etsystatic.com/15963200/r/il/ceef76/1730782907/il_570xN.1730782907_kkk9.jpg");
    background-size: cover;
}

.game-card{
    color: white;
    max-width: 30ch;
    border: 2px solid black;
    background-image: url("https://assets.mycast.io/posters/marvel-cinematic-universe-fan-casting-poster-17828-large.jpg?1571430280");
    background-size: cover;
    padding: 10rem 0 0;
    border-radius: 0.5rem;
    overflow: hidden;

    transition: transform 800ms ease;
    transition: box-shadow 300ms ease;
}

.game-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 35px 0px white;
    
}

.card-content{
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.8) 20%,
        hsl(0 0% 0% / 1)
    );
    transform: translateY(70%);
    transition: transform 500ms ease;
}

.game-card:hover .card-content{
    transform: translateY(0);
    transition-delay: 500ms;
}

.card-content > *:not(.game-card-title){
    opacity: 0;
    transition: opacity 500ms ease;
}

.game-card:hover .card-content > *:not(.game-card-title) {
    opacity: 1;
    transition-delay: 1000ms;
}

.game-card-text{
    padding: 1rem 0;
}

.game-card-title{
    color: #25ced1;
    position: relative;
    width: max-content;
}

.game-card-title::after{
    content: '';
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: 0;
    width: calc(100% + var(--padding));
    background: #25ced1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}

.game-card:hover .game-card-title::after{
    transform: scaleX(1);
}

.card-button{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #25ced1;
    padding: 0.5em 1.25em;
    border-radius: 0.25rem;
}

.card-button:hover,
.card-button:focus{
    background-color: #e71d36;
}

/* About me modal */

#modal{
    opacity: 0;
    display: flex;
    flex-direction: column;
    font-family: 'PT Mono', monospace;
    position: absolute;
    right: 4rem;
    top: 6rem;
    height: 400px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    box-shadow: 0 0 25px 0px black;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    pointer-events: none;
    overflow: scroll;
}

#modal.active{
    opacity: 1;
    pointer-events: all;
}

#about-me-title{
    color: #e71d36;
}

.about-me-text{
    padding-top: 1rem;
}

#about-me-p1{
    border-top: 2px solid #011627;
}


/* Home page CSS */

#home-div-1{
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
    align-items: center;
    background-color: #011627;
    width: 100vw;
    height: 91.8vh;
}

#landing-image{
    width: 100%;
    height: 100%;
    background: url('https://wallpaperaccess.com/full/24844.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#landing-page-div-2{
    height: 100vh;
    width: 100vw;
    background-color: #011627;
}

#landing-page-div-3{
    height: 100vh;
    width: 100vw;
    background-color: #011627;
}

@media(max-width: 500px){

    header{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1rem;
    }


    #the-question{
        font-size: 1.5rem;
    }

    #question-number{
        margin-top: 0;
    }

    #image{
        width: 100vw;
    }

    #buttons-container-top,
    #buttons-container-bottom{
        flex-direction: column;
        align-items: center;
    }

    .button{
        font-size: 1rem;
        height: 3rem;
    }

    #trivia-modal-top{
        font-size: 1.7rem;

    }

}

@media(max-width: 850px){
    #game-card-container{
        display: flex;
        flex-direction: column;
        height: 150vh;
    }

    .mobile-nav-links{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        list-style: none;
    }

    .nav-links{
        display: none;
    }

    ul li a{
        margin: 0 12px;
    }
}

@media(max-width: 630px){
    header h1{
        display: none;
    }
}